<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.profile.avatar) %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction %></div>

                <%- partial('_widget/post-charts') %>

                <% if (theme.myProjects && theme.myProjects.enable) { %>
                <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (theme.mySkills && theme.mySkills.enable) { %>
                <%- partial('_widget/my-skills') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>

            </div>
        </div>

        

        <div class="card"> 
            <div class="card-content"> 
                <div class="title center-align" data-aos="zoom-in-up"> 
                    <i class="fa fa-address-book"></i>&nbsp;&nbsp;<%- __('个人信息') %> 
                </div> 
                <table>
                    <tbody><tr>
                      <td>学  校：</td>    <td>长春工业大学</td>    <td>院  系：</td>    <td>计算机与科学学院</td>
                      <td rowspan="5"><img src="/medias/jianli.jpg" width="127" height="170"></td>
                    </tr>
                    <tr>
                      <td>专  业：</td>    <td>电子信息工程</td>    <td>电  话：</td>    <td>13258847839</td>
                    </tr>
                      <tr>
                      <td>学  历：</td>    <td>本科</td>    <td>现 居 地：</td>    <td>吉林省长春市</td>
                    </tr>
                    <tr>
                      <td>QQ/微信：</td>    <td>1452688714/13258847839</td>    <td>E-mail：</td>    <td>zkb13258847839@163.com</td>
                    </tr>
                  </tbody></table>
            </div> 
        </div>

        <div class="card"> 
            <div class="card-content"> 
                <div class="card-content article-card-content"> 
                    <div class="title center-align" data-aos="zoom-in-up"> 
                        <i class="fa fa-address-book"></i>&nbsp;&nbsp;<%- __('个人经历') %> 
                    </div> 
                    <div id="articleContent" data-aos="fade-up"> 
                        <%- page.content %>
                    </div> 
                </div>
            </div> 
        </div>

    </div>
</main>
